{%extends 'base.html'%}

{%block title%}
    Find Books
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="../static/styles/find.css">
{%endblock%}

{%block content%}
    <div class="mysearchform">
        <form class="poke-form" method="POST" action="/find">
            {{ find_form.hidden_tag() }}
            <div class="mb-3">
            {{ find_form.search_str(class="myformcontrol form-control", id="exampleInputEmail1")}}
            </div>
            {{ find_form.submit_btn(class="btn mybtn")}}
        </form>
    </div>

    {%if top_five_books%}
        {%for book in top_five_books%}
        <p>{{book.title}}</p>
        <p>by {%for author in book.authors%}{{author}} {%endfor%}</p>
        <img src="{{book.thumbnail}}" alt="">

        <hr>
        {%endfor%}
    {%endif%}

    <div class="openaichat">
        {% if chat_response %}
        <p>{{chat_response}}</p>
        {%endif%}
        <form method="POST" action="/chat">
         {{ chat_form.hidden_tag() }}
          <p>I'm your librarian assistant!</p>
         {{ chat_form.chat_input }}
        </form>
    </div>
    
{%endblock%}