{%extends 'base.html'%}

{%block title%}
    Find Books
{%endblock%}

{%block styles%}
{%endblock%}

{%block content%}
    <div class="mysearchform">
        <form class="poke-form" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
            {{ form.search_str(class="myformcontrol form-control", id="exampleInputEmail1")}}
            <div id="emailHelp" class="form-text">(Name or number up to 1025)</div>
            </div>
            {{ form.submit_btn(class="btn mybtn")}}
        </form>
    </div>

    {%if top_five_books%}
        <p>top_five_books</p>
    {%endif%}
    
{%endblock%}