body {
    text-align: center;
}

.myhomediv {
    width: 65%;
    margin: 5vh auto;
}

.welcome {
    width: 100%;
    margin: 10px auto;
}

.homeflex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.homeflex a {
    text-decoration: none;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 50px 25px;   
    background-color: rgb(248, 251, 254);
    font-size: 2rem;
    color: rgb(32, 94, 152);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.homeflex a:hover, .homeflex a:active {
    text-decoration: none;
    background-color: rgb(224, 239, 254);
    color: rgb(40, 116, 187);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

