.team-card {
    margin: 2% auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(219, 244, 255, 0.897);
    border: 4px solid rgb(251, 185, 3);
}

.team-card h5 {
    text-align: center;
}

.team-card li{
    background-color:rgb(209, 254, 254);
    border: none;
    background-color: rgba(219, 244, 255, 0.897);
    padding: 2px 0!important;
}

.team-title {
    padding: 0!important;
    margin: 0!important;
    font-size: 1.5rem;
}

.team-img {
    width: 100px;
    margin: -20px auto;
}

.releasebtn {
    text-align: center;
    color: black;
    background-color: rgb(224, 224, 224);
    border: 2px solid rgb(86, 85, 85);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.releasebtn:hover, .releasebtn:active {
    text-decoration: none;
    color: black;
    border: 2px solid rgb(12, 0, 245);
}
