{%if current_user.is_authenticated%}
    {%for pokemon in current_user.caught_pokemon%}
        <div class="team-card card style="width: 14rem;">
            <div class="team-title card-body">
                <h5 class="team-title card-title">{{pokemon.name}}</h5>
            </div>
            <img src="{{pokemon.sprite_img}}" class="team-img card-img-top" alt="">
            <ul class="list-group list-group-flush">
                <li class="myteamlist list-group-item">HP {{pokemon.hp}}</li>
                <li class="myteamlist list-group-item">Defense {{pokemon.defense}}</li>
                <li class="myteamlist list-group-item">Attack {{pokemon.attack}}</li>
            </ul>
            <a href="{{url_for('pokesearch.release', poke_name=pokemon.name)}}" class="releasebtn">Release</a>
        </div>
    {%endfor%}
{%endif%}