{%extends "base.html"%}

{%block title%}
    Welcome to Bookies
{%endblock%}

{%block styles%}
    <link rel="stylesheet" href="../static/styles/home.css">
{%endblock%}



{%block content%}
  <div class="myhomediv"">
    <!-- Bookies logo -->
    <img class="battleimg" src="../static/img/Bookieslogo.png" alt="Bookies logo">
  </div>

  {%if current_user.is_anonymous%}
  <div class="homeflex">
    <a class="homebtn" href="{{ url_for('auth.login')}}">Login</a>
    <a class="homebtn" href="{{ url_for('auth.signup')}}">Sign Up</a>
  </div>

  {%endif%}
{%endblock%}